<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19E287</string>
	<key>CFBundleExecutable</key>
	<string>html</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.viktorstrate.SwiftTreeSitter.language.html</string>
	<key>CFBundleName</key>
	<string>html</string>
	<key>CFBundleShortVersionString</key>
	<string>0.16.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11E608c</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19E258</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1150</string>
	<key>DTXcodeBuild</key>
	<string>11E608c</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>STSLoadFunction</key>
	<string>tree_sitter_html</string>
	<key>TreeSitter</key>
	<dict>
		<key>ContentRegex</key>
		<string></string>
		<key>Filetypes</key>
		<array>
			<string>html</string>
		</array>
		<key>FirstLineRegex</key>
		<string></string>
		<key>InjectionRegex</key>
		<string>html</string>
		<key>Scope</key>
		<string>text.html.basic</string>
	</dict>
</dict>
</plist>
